
header{
    background-color: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0px 60px;
}
h3{
    font-weight: 1200;
}
h3 span{
    color: #FD6E0A;

}
nav li{
    display: inline;
    margin: 10px;
    font-weight: 300;
    font-size: 15px;
    color: #474747;
}
.btn-parmanet{
    background-color: #FD6E0A;
    border: none;
    padding: 8px 20px;
    color: aliceblue;
    font-weight: 600;
    font-size: 15px;
}
.banner{
    padding: 20px 0px 30px 50px;
    display: flex;
}
.banner img{
    width: 300px;
    border-radius: 50%;
    

}
